# Dependencies
node_modules/
.venv/
venv/
__pycache__/

# Environment
.env
.DS_Store

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Private Documentation
frontend/ProjectImplementation-details/

# Datasets
datasets/
AI_service/datasets/
